.nave {
    height: 44px;
    width: 90%;
    padding: 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    img {
        height: 24px;
        width: 24px;
    }
    .btn-check {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        cursor: pointer;
        width: 30px;
        height: 30px;
        opacity: 0;
        
    }
    .menu {
        position: absolute;
        top: 20px;
        right: 12px;
        z-index: 1;
        width: 24px;
        height: 18px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .nave-item {
        display: block;
        margin-top: -280px;
        height: 224px;
        width: 320px;
        background: #0000EC;
        visibility: hidden;
        -webkit-transition: all 0.5s ease-in;
        transition: all 0.5s ease-in;
        ul {
            text-align: left;
            li {
                display: block;
                height: 56px;
                width: 100%;
                font-family: "IBM Plex Mono", monospace;
                font-size: 16px;
                list-style: none;
                line-height: 48px;
                margin-left: 20px;
                a {
                    display: block;
                    text-decoration: none;
                    color: #ffffff;
                    -webkit-transition: all 0.5s ease;
                    transition: all 0.5s ease;
                } 
                a:hover {
                        text-decoration: line-through;
                        color: #00F3BB;
                    }
                a:active {
                        text-decoration: line-through;
                        color: #060A24;
                        opacity: 56%;
                    }
                
            }

        }
    }
    .menu > div {
        position: relative;
        width: 100%;
        height: 3px;
        background-color: #000000;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-transition: all 0.4s ease;
            transition: all 0.4s ease;
    }
    .menu > div:before,
    .menu > div:after {
        content: '';
        position: absolute;
        z-index: 1;
        top: -8px;
        width: 100%;
        height: 3px;
        background: inherit;
    }
    .menu > div:after {
        top: 8px;
    }
    
    .btn-check:checked + .menu > div {
        -webkit-transform: rotate(135deg);
                transform: rotate(135deg);
    }
    .btn-check:checked + .menu > div:before,
    .btn-check:checked + .menu > div:after {
        top: 0;
        -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
    }
    .btn-check:checked:hover + .menu > div {
        -webkit-transform: rotate(225deg);
                transform: rotate(225deg);
    }
    .btn-check:checked ~ .nave-item {
        visibility: visible;
        margin-top: 280px;
    }
}
  @media (min-width: 600px) {
    .nave img {
      height: 36px;
      width: 36px;
    }
    .nave .btn-check {
      display: none;
    }
    .nave .menu {
      display: none;
    }
    .nave .nave-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-top: 10px;
      height: 44px;
      width: 90%;
      visibility: visible;
      background: #ffffff;
      -webkit-transition: none;
      transition: none;
    }
    .nave .nave-item ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      text-align: center;
      width: 60%;
    }
    .nave .nave-item ul li {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
    }
    .nave .nave-item ul li a {
      color: #060A24;
      text-decoration: none;
    }
    .nave .btn-check:checked ~ .nave-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-top: 10px;
      height: 44px;
      width: 90%;
      visibility: visible;
      background: #ffffff;
      -webkit-transition: none;
      transition: none;
    }
  }  
