.temas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    h2 {
        font-family: "IBM Plex Sans", sans-serif;
        font-size: 36px;
        color: #060a24;
        letter-spacing: 0;
        line-height: 42px;
        font-weight: 100;
        width: 60%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .icono-tema {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 100%;
        text-align: center;
        .icon-container {
            margin: 5%;
            h3 {
                font-family: "IBM Plex Sans", sans-serif;
                font-size: 24px;
                color: #060a24;
                letter-spacing: 0;
                text-align: center;
              }
          }
      }

  }
  @media (min-width: 600px) {
    .temas h2 {
      font-size: 48px;
      margin-bottom: 0;
    }
    .temas .icono-tema {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
    }
  }
  